<header>
  <img src="<%= relative_url '/images/logo.svg' %>" alt="Logo" />
</header>
<aside class="menu">
  <ul class="menu-list">
    <li><a href="<%= relative_url '/' %>">Home</a></li>
    <li>
      <a href="<%= relative_url '/courses' %>" class="is-active">Courses</a>
    </li>
  </ul>
</aside>
